RadioFrequencyCenter.DataBrowser/Service References/MeasurementsApiService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeasurementsApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IMeasurementsApi_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RadioFrequencyCenter.DataSource" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeasurementsApi_IsApiOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsApiOnline" />
  </wsdl:message>
  <wsdl:message name="IMeasurementsApi_IsApiOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsApiOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasurementsApi_GetElectronicDevicesData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicDevicesData" />
  </wsdl:message>
  <wsdl:message name="IMeasurementsApi_GetElectronicDevicesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicDevicesDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeasurementsApi">
    <wsdl:operation name="IsApiOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasurementsApi/IsApiOnline" message="tns:IMeasurementsApi_IsApiOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasurementsApi/IsApiOnlineResponse" message="tns:IMeasurementsApi_IsApiOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectronicDevicesData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasurementsApi/GetElectronicDevicesData" message="tns:IMeasurementsApi_GetElectronicDevicesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasurementsApi/GetElectronicDevicesDataResponse" message="tns:IMeasurementsApi_GetElectronicDevicesData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IMeasurementsApi" type="tns:IMeasurementsApi">
    <wsp:PolicyReference URI="#CustomBinding_IMeasurementsApi_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsApiOnline">
      <soap12:operation soapAction="http://tempuri.org/IMeasurementsApi/IsApiOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectronicDevicesData">
      <soap12:operation soapAction="http://tempuri.org/IMeasurementsApi/GetElectronicDevicesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeasurementsApi">
    <wsdl:port name="CustomBinding_IMeasurementsApi" binding="tns:CustomBinding_IMeasurementsApi">
      <soap12:address location="http://localhost:8733/Design_Time_Addresses/RadioFrequencyCenter.DataSource/MeasurementsApi/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8733/Design_Time_Addresses/RadioFrequencyCenter.DataSource/MeasurementsApi/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>