RadioFrequencyCenter.DataBrowser/Service References/MeasurementsApiService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RadioFrequencyCenter.DataSource" />
  <xs:element name="IsApiOnline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsApiOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsApiOnlineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioStationsAndSignals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RadioFrequencyCenter.DataSource" minOccurs="0" name="selectionCriteria" nillable="true" type="q1:SelectionCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioStationsAndSignalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RadioFrequencyCenter.DataSource" minOccurs="0" name="GetRadioStationsAndSignalsResult" nillable="true" type="q2:ArrayOfRadioStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>